<% include ../../partials/header %>
<% include ../../partials/menu %>


<% if(typeof user != 'undefined' && user.activated==0){ %>

<div> Please confirm your account through link we sent you on your email. </div>

<%} else{%>

<% include ../../partials/options %>
<% }%>
<% include ../../partials/footer %>